[submodule "docker-swarm-apache-spark/docker-hadoop-spark-workbench"]
	path = docker-swarm-apache-spark/docker-hadoop-spark-workbench
	url = https://github.com/big-data-europe/docker-hadoop-spark-workbench
